.paginationleft{
    cursor: pointer;
    opacity: 70%;
}
.paginationleft:hover{
    opacity: 100%;
}

.paginationright{
    cursor: pointer;
    opacity: 70%;
}
.paginationright:hover{
    opacity: 100%;
}