.paginationleft{
    cursor: pointer;
    opacity: 50%;
}
.paginationleft:hover{
    opacity: 100%;
}

.paginationright{
    cursor: pointer;
    opacity: 80%;
}
.paginationright:hover{
    opacity: 100%;
}