.title{
    margin-top: -2%;
    position: relative;
    color: rgb(241, 233, 233);
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    }

.background{
    display:block;
    position: absolute;
    background-color: rgb(193, 172, 148);
    background-image: url("../../Img/porfolio.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;

}

.divbutton{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 37%;
}
.link{
text-decoration: none;
}

.ButtonHome{
    background-color: rgb(193, 172, 148);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 80px;
    height: 40px;
}

.ButtonHome:hover{
    transform: scale(1.05);
}