.title{

    color: rgb(241, 233, 233);
    font-size: 30px;
    text-align: center;
    margin-top: 10%;
     }

.background{
    display:block;
    position: absolute;
    background-image: url("https://cdn.wallpapersafari.com/97/63/Hv4kZr.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    font-size: 30px;
}

.cohete{
    position: absolute;
    background-image: url("../../Utils/cohete\ azulsll.png");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-top: 30%;
    margin-left: 10%;
}



.divbutton{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 37%;
 
}
.link{
text-decoration: none;
}

.ButtonHome{
    position: relative;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 50px;
    height: 40px;
    font-size: 30px;
   margin-top: -70%;
   margin-left: 80%;
    
}

.llamita{
    display: flex;
    border-radius: 50px;
    width: 93px;
    height: 93px;
    background-image: url("https://c.tenor.com/8McIGu0Tf_QAAAAi/fire-joypixels.gif");
    background-size: 100%;
    background-position-x: 50%;
    background-position-y: 290%;
    color:transparent;
    margin-left: 8.5%;
    margin-top: 24%;
    rotate:-136deg;
    }
    
    .ButtonHome:hover  {
        
       .llamtita{
        background-image: none;
       }
            }

.h1{
    margin-right: 10% ;
   
}

@media screen and (max-width: 800px){
    .title{

        color: rgb(129, 19, 19);
        font-size: 15px;
        text-align: center;
        margin-top: 20%;
        }

        .llamita{
            display: flex;
            border-radius: 50px;
            width: 93px;
            height: 93px;
            background-image: url("https://c.tenor.com/8McIGu0Tf_QAAAAi/fire-joypixels.gif");
            background-size: 100%;
            background-position-x: 50%;
            background-position-y: 290%;
            color:transparent;
            margin-left: 15%;
            margin-top: 95%;
            rotate:-136deg;
            }
        .cohete{
            position: absolute;
            background-image: url("../../Utils/cohete\ azulsll.png");
            background-size: cover;
            width: 65%;
            height: 35%;
            margin-top: 50%;
            margin-left: 15%;
            }
        .ButtonHome{
            position: relative;
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            width: 50px;
            height: 40px;
            font-size: 30px;
            margin-top: -70%;
            margin-left: 90%;
                
            }
            .ButtonHome:before{
                transform: scale(1.1);
                    
                }
}