.all{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.carousel img {
    width: 660px;
    height: auto;
}
.divPaginationLeft{
    position: relative;
    transform: scaleX(-1);
    min-width: 20px;
    width: 30px;
}
.divPaginationRight{
    position: relative;
    min-width: 20px;
    width: 30px;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.linkP{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    opacity: 0;
}
.butt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeri{
    width: 70%;
    padding: 2%;
}
@media screen and (max-width: 800px){
    .carousel{
        max-width: 320px;
    }
    .carousel img {
        max-width: 320px;
        height: auto;
    }
    .links{
        max-width: 350px;
    }
    .divPaginationLeft{
        max-width: 30px;
    }
    .divPaginationRight{
        max-width: 30px;
    }
}
