.errorimg{
    background-image: url(../../Utils/image1-1920x1016.jpg);
    display: grid;
    place-items: center;
    position: absolute;
    min-height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}