.cardimage{
    width: 700px;
    height: 350px;
}

.cardtext{
    position: relative;
    text-align:justify;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 250px;
}

.sumary{
    text-align: center;
    
}