.publication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardimage{
    width: 700px;
    height: 350px;
}
.cardtext{
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 20px;
    position: relative;
    text-align:justify;
    max-width: 600px;
    height: 210px;
    padding: 10px;
    margin: 10px;
}
.title{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-shadow: 0 2px 2px rgb(255, 255, 255);
}
.summary{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.carruselCont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrusel{
    max-width: 620px;
}
@media screen and (max-width: 800px){
    .cardimage{
        width: 350;
        height: auto;
    }
    .cardtext{
        max-width: 320px;
        min-height: 400px;
    }
    .carrusel{
        max-width: 320px;
        
    }
    .cardimage{
        max-width: 320px;
    }
}