.all{
    position: relative;
    min-height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.back{
    display: flex;
    justify-content: space-around;
}
.divHome{
    width: 400px;
    margin-top: 100px;
}
.divText{
    color: #f6f6f6fb;
    text-shadow: 0 4px 4px black;
}
.divButton{
    margin-top: 150px;
}
.perfil{
    display:flex;
    background-image: url("../../Utils/perfil.jpg");
    background-position-y: 50%;
    background-position-x: 100%;
    width: 310px;
    height: 300px;
    border-radius: 50%;
    border:5px solid;
    border-color: rgb(0, 0, 5);
    background-size: cover;
    margin-top: 150px;
    margin-right: 90px;
}
.links{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 19%;
}
@media screen and (max-width: 800px){
    .back{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    .divHome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 90%;
    }
    .perfil{
        display: flex;
        position: relative;
        margin-left: 100px;
        margin-top: -320px;
        width: 160px;
        height: 150px;
    }
    .divButton{
        display: flex;
        margin-top: 150px;
    }
    .links{
        display: flex;
        width: 300px;
        margin-top: 20px;
        justify-content: space-between;
    }
}
