.back{
    background-color: rgb(193, 172, 148);
    display: grid;
    place-items: center;
    position: fixed;
    margin-left: 10%;
    margin-right: 20%;
    width: 70%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    
}

.navbar{
    background-color: white;
    position: absolute;
    margin: 0;
    width: 10%;
    height: 100%;
    left: 0px;
    top: 0px;
    justify-content: center;
}

.back1{
    display: inline;
    background-color: black;
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0%;
    top: 0px;
    justify-items: center;
}

.divHome{
    color:black;
}

.buttonCV{
    margin-top: 5%;
    background-color: black;
    color: rgb(193, 172, 148);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    }

.buttonCV:hover{
    border-color: #f6f6f6;
    border-width: 4px;
    border-style: solid;
    color: #f6f6f6;
    }

.perfil{
    display:flex;
    background-image: url("../../Utils/perfil.jpeg");
    position: relative;
    width: 70%;
    height: 30%;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50%;
    margin-left: 17%;
}

.GitHuub{
    background-color: rgb(194, 116, 116);
    color: rgb(193, 172, 148);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 350%;
   
}

.GitHuub:hover{
    border-color: #f6f6f6;
    border-width: 4px;
    border-style: solid;
    color: #f6f6f6;
    }

.Gmail{
    background-color: rgb(116, 194, 137);
    color: rgb(193, 172, 148);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 350%;
    
        }
    
.Gmail:hover{
    border-color: #f6f6f6;
    border-width: 4px;
    border-style: solid;
    color: #f6f6f6;
        }

.Linkedin{
    background-color: rgb(231, 8, 8);
    color: rgb(193, 172, 148);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 350%;
   
        }
            
.Linkedin:hover{
    border-color: #f6f6f6;
    border-width: 4px;
    border-style: solid;
    color: #f6f6f6;
                }
.links{
    height: 40%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 10%;
}
