.form-control{
    margin-top: 20px;
    color: #040303;
    min-width: 400px;
}

.bottonsend{
    margin-top: 5%;
    margin-left: 95%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color:  black;
    font-size: 20px;
    color: #f6f6f6;
}

.bottonsend:hover{
    border-color: #f6f6f6;
    border-width: 2px;
    background-image: url("https://c.tenor.com/8McIGu0Tf_QAAAAi/fire-joypixels.gif");
    background-size: 90%;
    border-color: #f6f6f6;
    border-width: 2px;
    border-style: solid;
    color: #f6f6f6;
}

