.form-control{
    margin: 20px;
}

.bottonsend{
    margin-left: 95%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color:  rgb(193, 172, 148);
    font-size: 20px;
}

.bottonsend:hover{
    transform: scale(1.05);
}