
.nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgba(0, 0, 0, 0.493);
    height: 30px;
}
.btn {
  color: rgb(75, 100, 160);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}
.btn:hover{
  border-bottom: 2px solid white;
}
.btnHover {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  border-bottom: 2px solid rgb(1, 29, 94);
}
@media screen and (max-width: 800px){
  .nav{
    padding-left: 5px;
    padding-right: 5px;
  }
  .btn{
    font-size: 11px;
  }
}