.imageOne {
  background-image: url('./images/food/food1.jpg') ;
}
.imageTwo {
  background-image: url('./images/food/food2.jpg');
}
.imageThree {
  background-image: url('./images/food/food3.jpg');
}
.imageFour {
  background-image: url('./images/food/food4.jpg');
}
.imageFive {
  background-image: url('./images/food/food5.jpg');
}
