.imageOne {
  background-image: url('./images/toDo/toDo1.jpeg') ;
}
.imageTwo {
  background-image: url('./images/toDo/toDo2.jpeg');
}
.imageThree {
  background-image: url('./images/toDo/toDo3.jpeg');
}
.imageFour {
  background-image: url('./images/toDo/toDo4.jpeg');
}
.imageFive {
  background-image: url('./images/toDo/toDo5.jpeg');
}
