.imageOne {
  background-image: url('./images/weather/weather1.png') ;
}
.imageTwo {
  background-image: url('./images/weather/weather2.png');
}
.imageThree {
  background-image: url('./images/weather/weather3.png');
}
.imageFour {
  background-image: url('./images/weather/weather4.png');
}
.imageFive {
  background-image: url('./images/weather/weather5.png');
}
