.imageOne {
  background-image: url('./images/gestionCarnes/gestion1.jpg') ;
}
.imageTwo {
  background-image: url('./images/gestionCarnes/gestion2.jpg');
}
.imageThree {
  background-image: url('./images/gestionCarnes/gestion3.jpg');
}
.imageFour {
  background-image: url('./images/gestionCarnes/gestion4.jpg');
}
.imageFive {
  background-image: url('./images/gestionCarnes/gestion5.jpg');
}
