.imageOne {
  background-image: url('./images/pokemon/pokemon1.jpg') ;
}
.imageTwo {
  background-image: url('./images/pokemon/pokemon2.jpg');
}
.imageThree {
  background-image: url('./images/pokemon/pokemon1.jpg');
}
.imageFour {
  background-image: url('./images/pokemon/pokemon4.jpg');
}
.imageFive {
  background-image: url('./images/pokemon/pokemon1.jpg');
}
